/* -- COLORS -- */
$color-primary: #2d333b;
$color-accent: #eeb14f;
$color-secondary-bg: #f8f6f6;
//#ffffff (white)
//#000000 (black)

/* -- SPACING -- */
$content_margin: 3%;
$mobile_nav_height: 65px;
$nav_height: 65px;